#mainNav {
  /* background-color: var(--light-bg); */
  /* border-bottom: #160a2d 2px solid; */
  position: fixed;
  width: 100%;
  z-index: 1999;
  transition: 0.4s;
  backdrop-filter: blur(17px);
  box-shadow: 0px 0px 20px 0px #0002;
}

#mainNav .container #menuIcon {
  display: none;
}

#mainNav .container {
  height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

#mainNav .container .logo {
  width: 65px;
}

#mainNav .container #menu {
  display: flex;
  gap: 30px;
}

#mainNav .container #menu span {
  font-size: 1.3rem;
  font-weight: 600;
  transition: 0.2s;
  opacity: 0.3;
  transform: scale(0.9);
  cursor: pointer;
}

#mainNav .container #menu span:hover,
#mainNav .container #menu .active {
  opacity: 1;
  transform: scale(1.1);
}

#mainNav .container .contact {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  padding: 0px 25px;
  border: 3px solid;
  border: 3px #4937f0 solid;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  transition: 0.4s;
  cursor: pointer;
}

#mainNav .container .contact::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  left: 0;
  top: 0;
  transition: 0.3s;
  background-image: linear-gradient(
    45deg,
    var(--grad-clr-left),
    var(--grad-clr-right)
  );
  z-index: -1;
  border-radius: 5px;
}

#mainNav .container .contact:hover {
  border-color: transparent;
  transform: scale(1.1);
}

#mainNav .container .contact:hover::before {
  width: 100%;
}

/* for mobile */

#navPhone {
  opacity: 0;
  pointer-events: none;
  height: 0;
}
#navPhone.active {
  opacity: 1;
  pointer-events: auto;
}

/* MEDIA Q */

@media (max-width: 875px) {
  #mainNav .container {
    width: 90%;
  }
}

@media (max-width: 700px) {
  #mainNav .container {
    width: 80%;
    padding-bottom: 20px;
  }
  #mainNav .container #menu,
  #mainNav .container .contact {
    display: none;
  }
  #mainNav .container .logo,
  #mainNav .container #menuIcon {
    margin-top: -10px;
  }
  #mainNav .container #menuIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 6px;
    cursor: pointer;
    transition: 0.3s;
    transform: scale(0.9);
  }
  #mainNav .container #menuIcon div {
    width: 40px;
    height: 5px;
    background-color: #ecddff;
    transform-origin: left;
    transition: 0.3s;
  }
  #mainNav .container #menuIcon .middle {
    transform-origin: center;
  }

  #mainNav .container #menuIcon.active {
    transform: scale(1.1);
  }
  #mainNav .container #menuIcon.active div:nth-child(1) {
    transform: rotate(45deg);
    width: 32px;
  }
  #mainNav .container #menuIcon.active div:nth-child(2) {
    opacity: 0;
  }
  #mainNav .container #menuIcon.active div:nth-child(3) {
    transform: rotate(-45deg);
    width: 32px;
  }
  #mainNav .container #menuIcon.active .middle {
    transform-origin: center;
  }

  /* 
    menuIcon.style.transform = "scale(1.1)";
    document.querySelector("#menuIcon .up").style.transform = "rotate(45deg)";
    document.querySelector("#menuIcon .up").style.width = "32px";
    document.querySelector("#menuIcon .middle").style.opacity = "0";
    document.querySelector("#menuIcon .bottom").style.transform = "rotate(-45deg)";
    document.querySelector("#menuIcon .bottom").style.width = "32px";
  */

  #mainNav .container .logo {
    width: 55px;
  }
  #navPhone {
    position: fixed;
    flex-direction: column;
    width: 100%;
    height: 100vh !important;
    backdrop-filter: blur(20px);
    z-index: 1500;
    transition: 0.5s;
  }
  #navPhone #menu {
    height: 66%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  #navPhone .icons {
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
  }
  #navPhone .icons .row {
    height: 15%;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  #navPhone .icons .row a {
    font-size: 3rem;
  }
  #navPhone .icons .row a .icon {
    color: #f5edff;
    opacity: 0.4;
    transition: 0.2s ease-in-out;
  }
  #navPhone .icons .row a:hover .icon {
    opacity: 1;
    transform: scale(1.3);
  }
  #navPhone #menu a {
    font-size: 1.6rem;
    font-weight: 600;
    transition: 0.3s;
    opacity: 0.7;
    transform: scale(0.9);
    cursor: pointer;
  }
  #navPhone #menu a:hover,
  #navPhone #menu .active {
    opacity: 1;
    transform: scale(1.1);
    letter-spacing: 5px;
    text-shadow: 5px;
  }
}
